*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 400px;
    height: 500px;
    background: linear-gradient(45deg, red, blue);
    display: none;
    border-radius: 20px;
}

.card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}  
.card h1{
    color: white;
}
.card p{
    color: white;
    text-align: center;
    padding: 0 10px;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}
button:hover{
    cursor: pointer;
    background-color: lightgray;
}
#change{
    cursor: pointer;
}
#change:hover{
    transform: scale(1.1);
}

#change2{
    cursor: pointer;
}
#change2:hover{
    transform: scale(1.1);
}

